<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.55.2" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.3.104.25" targetFramework="net472" />
  <package id="AWSSDK.Glacier" version="3.3.100.132" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.110.23" targetFramework="net472" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.101.121" targetFramework="net472" />
  <package id="AWSSDK.SQS" version="3.3.102.64" targetFramework="net472" />
</packages>