<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="accessId" value="AKIAJD3RBFCFJFGP3BZQ" />
    <add key="secretKey" value="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" />
  </appSettings>
</configuration>